
.idea/auto_vpngate.iml
.idea/encodings.xml
.idea/jsonSchemas.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Database/__pycache__/
Email/__pycache__/
Parser/__pycache__/
html/__pycache__/
