[source]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyquery = "*"
aiohttp = "*"
aiodns = "*"
requests = "*"
pytest-asyncio = "*"
google-cloud-firestore = "*"
flask = "*"
prettytable = "*"

[dev-packages]
mypy = "*"
gunicorn = "*"

[requires]
python_version = "3.12"